<ion-tabs mode="ios">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Utama</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ladang">
      <ion-icon name="business"></ion-icon>
      <ion-label>Ladang</ion-label>
    </ion-tab-button>
    <ion-tab-button routerDirection="forward" routerLink="/new-supply">
      <ion-icon name="add"></ion-icon>
      <ion-label>Jual</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="activity">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Notifikasi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Saya</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
