<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button text="" color="dark" defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      <ion-select
        [selectedText]="'Bekalan ' + title"
        [(ngModel)]="state"
        [interfaceOptions]="customPopoverOptions"
        interface="popover"
        placeholder="Pesanan"
        (ionChange)="changeRule($event)"
      >
        <ion-select-option [value]="['accepted']">Diterima</ion-select-option>
        <ion-select-option [value]="['completed']">Selesai</ion-select-option>
        <ion-select-option [value]="['pending']">Dalam Proses</ion-select-option>
        <ion-select-option [value]="['cancelled']">Dibatalkan</ion-select-option>
        <ion-select-option [value]="['expired']">Luput</ion-select-option>
      </ion-select>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="jualan.length > 0; else elseTemplate">
    <ion-list>
      <ion-item
        lines="full"
        detail="true"
        *ngFor="let item of jualan"
        (click)="openSupplyDetail(item)"
      >
        <ion-label class="pesanan-content">
          <h1 style="text-transform: uppercase">{{ item.refNo }}</h1>
          <h2>{{ item.items.length }} hasil dijual</h2>
          <h2>Tarikh Hantar : {{ item.dateTime | date: "dd MMM hh:mm aa" }}</h2>
          <h2>Tarikh Kutipan : {{ item.harvestDate | date: "dd MMM hh:mm aa" }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #elseTemplate>
    <h2 class="ion-text-center">Tiada Jualan {{ title }}</h2>
  </ng-template>
</ion-content>
