.top-title {
  font-family: "San Francisco Light";
}


.info-content {
  font-family: "Open Sans Regular";
}

.top-info {
  background: url("../../../assets/images/profilebg.png") repeat center center / cover;
}

.segment-button-text {
  font-family: "Open Sans Bold";
}
