.card-title {
  font-size: 23px;
  font-family: "Open Sans Light";
}

.card-title-sub {
  font-size: 19px;
  font-family: "Open Sans Semi Bold";
}

.price-tag {
  font-size: 15px;
  font-family: "Open Sans Regular";
}
.total-title {
  font-family: "San Francisco Bold";
}
