<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="">Maklumat Bekalan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-no-padding ion-padding-top ion-padding-horizontal">
      <ion-label class="card-title">{{ detail?.refNo }}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="full">
          <ion-label>
            <p>Status</p>
            <h2>{{ detail?.status }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Catatan</p>
            <h2>{{ detail?.remarks }}</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <ion-label>
            <p>Tarkih Hantar</p>
            <h2>{{ detail?.dateTime | date: "dd/MM/yyyy hh:mm aa" }}</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <ion-label>
            <p>Tarkih Kutipan</p>
            <h2>{{ detail?.harvestDate | date: "dd/MM/yyyy hh:mm aa" }}</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="orderDetail != null">
          <ion-label>
            <p>Alamat Penghantaran</p>
            <h2 [innerHtml]="detail?.supplier.toVerticalAddress"></h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-label class="card-title-sub ion-padding-start">Senarai Item</ion-label>
  <div *ngIf="detail != null">
    <ion-card *ngFor="let item of detail.items">
      <ion-card-content class="">
        <ion-list>
          <ion-item lines="full">
            <ion-label>
              <p>Nama Item</p>
              <h2>{{ item.name }}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <ion-label>
              <p>Gred</p>
              <h2>{{ item.grade }}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <ion-label>
              <p>Kuantiti</p>
              <h2>{{ item.quantity }} {{ item.unit }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-header
        class="ion-text-right ion-no-padding ion-padding-horizontal ion-padding-bottom"
      >
        <ion-card-title>
          <ion-label class="price-tag">Harga Minta : RM {{ item.askingAmount }} </ion-label>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
